*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aqua;
    font-style: italic;
    text-align: center;
}
div{
   display: inline-block;
    padding: 20px;
    margin: 70px;
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    }
    
    #result{
        width:240px;
        height: 50px;
        text-align: center;
        border-radius: 10px;
    }
    .btn{
        width: 50px;
        height: 50px;
        font-size: 18px;
        margin: 5px;
    }